.home-page {
  height: 100vh;
  width: 100vw;
  background-image: url(../../assets/computer.jpg);
  background-position: center;
  background-size: contain;
  color: azure;
}

.home-page h1 {
  line-height: 60px;
  font-size: clamp(14px, 2vw, 22px);
  text-align: center;
}
